.heading {
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--black);
  }
  
  .heading span {
    background: var(--secondary-color);
    color: white;
    display: inline-block;
    padding: 0.5rem 3rem;
    border-radius: 0.8rem;
  }
  
  .features .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 2rem;
    margin: 0 1.5rem;
  }
  
  .features .box-container .box {
    padding: 2rem;
    background: #F5F5F5;
    border-radius: 0.8rem;
    text-align: center;
    box-shadow: 0 0.5rem 1.5rem rgba(237, 75, 52, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .features .box-container .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 25px rgba(237, 75, 52, 0.15);
  }
  
  .features .box-container .box img {
    margin: 1rem 0;
    height: 24rem;
    width: 100%;
    object-fit: contain;
    border-radius: 0.8rem;
  }
  
  .features .box-container .box h3 {
    font-size: 3.3rem;
    line-height: 1.8;
    color: var(--black);
    margin-top: 1rem;
  }
  
  .features .box-container .box p {
    font-size: 1.4rem;
    line-height: 1.6;
    color: var(--black);
    margin-bottom: 1.5rem;
  }
  
  .features .btn {
    padding: 12px 25px;
    background: linear-gradient(90deg, var(--secondary-color), #D43129);
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 2rem;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(237, 68, 49, 0.4);
    transition: all 0.3s ease;
  }
  
  .features .btn:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 15px rgba(211, 49, 41, 0.6);
  }
